@model IDictionary<int, string>

@{
    ViewData["Title"] = "Home Page";
}

@*<div class="row">
    <form>
        <div class="form-group">
            <label
        </div>
    </form>
</div>*@

<div class="row">
    @if (Model != null)
    {
        foreach (var result in Model)
        {
            <div class="col-md-3">
                <p>@result.Key</p>
                <p>@result.Value</p>
            </div>
        }
    }
    
</div>
