@model IEnumerable<int>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <form action="/Home/Search" method="post">
            <div class="form-group">
                <label for="searchTermInput">Search</label>
                <input type="text" class="form-control" id="searchTermInput" placeholder="Enter term to search for" name="q" />
            </div>
            <div class="form-group">
                <label for="stringToFindInput">Find</label>
                <input type="text" class="form-control" id="stringToFindInput" placeholder="What to find" name="f" />
            </div>
            <div class="form-group">
                <label for="nrOfResultsInput">Find</label>
                <input type="number" class="form-control" id="nrOfResultsInput" placeholder="How many results" name="n" />
            </div>
            <div class="form-group">
                <label for="engineInput">Find</label>
                <input type="text" class="form-control" id="engineInput" placeholder="Which engine" name="engine" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div class="row">
        @if (Model != null)
        {
            foreach (var result in Model)
            {
                <div class="col-md-3">
                    <p>@result</p>
                </div>
            }
        }
    </div>

</div>

